@CHARSET "UTF-8";

.dove{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
}
.dove img{
	width: 100%;
	vertical-align: top;
    line-height: 0;
}
.dove .btn{
	display: block;
	position: absolute;
	text-indent: -9999px;
	font-size: 0;
}
.dove .cont{
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -1px;
}
.dove .cont01{background-image: url('../images/m_dove_cont01_bg.jpg');}
.dove .cont02{background-image: url('../images/m_dove_cont02_bg_ver2.jpg');} /* 1218 ver2제거 */ 
.dove .cont03{background-image: url('../images/m_dove_cont03_bg.jpg');}
.dove .cont04{background-image: url('../images/m_dove_cont04_bg.jpg');}

.dove .cont01 .event .step{
	position: absolute;
	width: calc(82.5% + 1px);
	left: 0;
	right: 0;
	top: 9.520123839009288%;
	margin: 0 auto;
}
.dove .cont01 .event .step .tit{
	width: 53.88888888888889vw;
	margin: 0 auto;
	display: block;
}
.dove .cont01 .event .step01{
	padding-top: 17.08333333333333vw;
	top: 0;	
}
.dove .cont01 .event .step01 .tit{
	position: relative;
	z-index: 2;
}
.dove .cont01 .event .step02{
	width: 62.77777777777778vw;
	margin: 0 auto;
}
.dove .cont01 .event .step03{
	padding: 0 12%;
	top: 5.520123839009288%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dove .cont01 .event .step01 .click{
	position: absolute;
	width: 37.77777777777778vw;
	bottom: 20.56%;
	right: -10.60606060606061%;
	z-index: 10;
}
.dove .cont01 .event .pop{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 500;
}
.dove .cont01 .event .pop_inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 501;
	width: 70%;
}
.dove .cont01 .event .pop_inner .btn{
	width: 41.25%;
	height: 11%;
	bottom: 10%;
	left: 29.5%;
}
.dove .cont01 .event .pop_bg{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;	
	background: rgba(0,0,0,.5);
}
.dove .cont01 .event .water_wrap{
	display: block;
	height: 91.52777777777778vw;
	position: relative;
}
.dove .cont01 .event .water_wrap:before{
	content:'';
	position: absolute;
	bottom: -1px;
	left: -1px;
	width: calc(100% + 2px); 
	height: 10.83333333333333vw;
	background: url('../images/m_dove_event_step01_bg.png') no-repeat left bottom;
	background-size: 100% auto;
	z-index: 50;
}
.dove .cont01 .event .canvas_wrap{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.dove .cont01 .event .canvas_wrap:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 40.69444444444444vw;
	background: url('../images/m_dove_event_step01_canvas_bg.png') no-repeat center top;
	background-size: 100% auto;
	z-index: 2;	
}
.dove .cont01 .event .canvas_wrap canvas{
	width: 110%;
	height: 51.38888888888889vw;
	transition: all .7s ease-out;
}
.dove .cont01 .event .canvas_wrap canvas.up0{height: 88.88888888888891vw;}
.dove .cont01 .event .step01 canvas.up1{height: 130.1282051282051vw;}
.dove .cont01 .event .canvas_wrap canvas.up2{height: 172.4358974358974vw;}
.dove .cont01 .event .canvas_wrap canvas.up3{height: 213.6752136752137vw;}
.dove .cont01 .event .canvas_wrap canvas.up4{height: 277.7777777777778vw;}
.dove .cont01 .event .water_wrap .dot{
	position: absolute;
	width: 28.88888888888889vw;
	height: 39.02777777777778vw;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0;
	text-indent: -9999px;
}
.dove .cont01 .event .water_wrap .dot01{
	left: 32.32323232323232%;
	top: 1.669195751138088%;
	background-image: url('../images/m_dove_event_step01_dot01.png');	
	z-index: 4;
}
.dove .cont01 .event .water_wrap .dot02{
	left: 8.922558922558923%;
	top: 16.23672230652504%;
	background-image: url('../images/m_dove_event_step01_dot02.png');
	z-index: 3;
}
.dove .cont01 .event .water_wrap .dot03{
	right: 9.259259259259259%;
	top: 16.23672230652504%;
	background-image: url('../images/m_dove_event_step01_dot03.png');	
	z-index: 3;
}
.dove .cont01 .event .water_wrap .dot04{
	left: 18.18181818181818%;
	top: 45.06828528072838%;
	background-image: url('../images/m_dove_event_step01_dot04.png');	
	z-index: 2;
}
.dove .cont01 .event .water_wrap .dot05{
	right: 18.35016835016835%;
	top: 45.6752655538695%;
	background-image: url('../images/m_dove_event_step01_dot05.png');	
	z-index: 1;
}
.dove .cont01 .event .water_wrap .dot01.on{background-image: url('../images/m_dove_event_step01_dot01_on.png');}
.dove .cont01 .event .water_wrap .dot02.on{background-image: url('../images/m_dove_event_step01_dot02_on.png');}
.dove .cont01 .event .water_wrap .dot03.on{background-image: url('../images/m_dove_event_step01_dot03_on.png');}
.dove .cont01 .event .water_wrap .dot04.on{background-image: url('../images/m_dove_event_step01_dot04_on.png');}
.dove .cont01 .event .water_wrap .dot05.on{background-image: url('../images/m_dove_event_step01_dot05_on.png');}
.dove .cont01 .event .message_wrap{
	position: absolute;
	width: 73.39246119733925%;
	top: 16.21187800963082%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.dove .cont01 .event .message_wrap .name{
	padding-left: 9.305555555555556vw;
	margin-bottom: 5vw;
	position: relative;
}
.dove .cont01 .event .message_wrap .name:before{
	position: absolute;
	content:'';
	top: 0;
	bottom: 0;
	margin: auto;
	left: 9.305555555555556vw;
	width: 1px;
	height: 90%;
	background: rgba(0,77,182,.8);
	z-index: 1;
	animation: cursor 1s ease-in-out infinite;
}
@keyframes cursor{
	40%{opacity: 1;}
	50%, 70%{opacity: 0;}
}
.dove .cont01 .event .message_wrap .name.off:before{display: none;}
.dove .cont01 .event .message_wrap input,
.dove .cont01 .event .message_wrap textarea{
	background: transparent;
	font-weight: 700;
	letter-spacing: -0.075em; 
	outline:0;
}
.dove .cont01 .event .message_wrap input{
	color: #004db6;
	font-size: 4.166666666666667vw;
	width: 20.13888888888889vw;
}
.dove .cont01 .event .message_wrap input::placeholder{
	color: #004db6;
	font-size: 4.166666666666667vw;
}
.dove .cont01 .event .message_wrap textarea{
	font-size: 3.472222222222222vw;
	color: #000f59;
	width: 100%;
	height: 22.77777777777778vw;
	line-height: 1.64em;
}
.dove .cont01 .event .message_wrap textarea::placeholder{
	font-size: 3.472222222222222vw;
	color: #000f59;
}
.dove .cont01 .event .message_wrap .info{
	letter-spacing: -0.05em;
	font-weight: 800;
	font-size: 1.944444444444444vw;
	margin-top: 2.361111111111111vw;
	color: #d9d9d9;
}
.dove .cont01 .event .message_wrap .btn{
	width: 20.83333333333333vw;
	height: 6.25vw;
	right: 0;
	top: 91.2%;		
}
.dove .cont01 .event .write_wrap .name{
	font-size: 3.194444444444444vw;
	font-weight: 800;
	color: #000f59;
	position: relative;
	padding: 1.944444444444444vw 0 0.8333333333333333vw 1.25vw;
	letter-spacing: -0.08em;
}
.dove .cont01 .event .write_wrap .name.point{color: #004db6;}
.dove .cont01 .event .write_wrap .name.point:before{
	content:'';
	position: absolute;
	top: 1.388888888888889vw;
	left: -2.083333333333333vw;
	width: 3.611111111111111vw;
	height: 3.611111111111111vw;
	background: url('../images/dove_event_step03_point.png') no-repeat;
	background-size: contain;
}
.dove .cont01 .event .write_wrap .input_time{
	padding-top: 6.805555555555556vw;
	text-align: center;
	font-size: 2.222222222222222vw;
}
.dove .cont01 .event .write_wrap .input_wrap.mt10{margin-top: 1.111111111111111vw;}
.dove .cont01 .event .write_wrap .input_wrap input{
	background: #fff;
	height: 5.833333333333333vw;
	width: 100%;
	-webkit-border-radius: 1.388888888888889vw;
	-moz-border-radius: 1.388888888888889vw;
	border-radius: 1.388888888888889vw;
	font-size: 2.777777777777778vw;
	padding: 0 1.805555555555556vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline:0;
}
.dove .cont01 .event .write_wrap .input_wrap.ver2 input{
	float: left;
	width: 64%;
	margin-right: 2.3%;
}
.dove .cont01 .event .write_wrap .input_wrap.ver2 button{
	float: right;
	width: 33.7%;
	-webkit-border-radius: 1.388888888888889vw;
	-moz-border-radius: 1.388888888888889vw;
	border-radius: 1.388888888888889vw;
	letter-spacing: -0.027em;
	font-weight: 800;
	background: #004db6;
	height: 5.833333333333333vw;
	line-height: 5.833333333333333vw;
	font-size: 2.777777777777778vw;
	color: #fff;
}
.dove .cont01 .event .info_txt{
	position: relative;
	padding-left: 1.944444444444444vw;
	color: #000f59;
	line-height: 1.3em;
	word-break: keep-all;
	font-size: 2.361111111111111vw;
	margin-top: 1.388888888888889vw;
}
.dove .cont01 .event .info_txt:before{
	content:'*';	
	position: absolute;
    top: 0;
    left: 0;
}
.dove .cont01 .event .agree_wrap{margin: 1.388888888888889vw 0 2.777777777777778vw;}
.dove .cont01 .event .agree_cont{
	overflow-y: auto;
	height: 16.94444444444444vw;
	background: #b5c4de;
	color: #333;
	padding: 1.666666666666667vw 1.944444444444444vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 2.083333333333333vw;
	word-break: keep-all;
	margin-bottom: 2.083333333333333vw;
	line-height: 1.25em;
	letter-spacing: -0.08em;
	-webkit-border-radius: 1.388888888888889vw;
	-moz-border-radius: 1.388888888888889vw;
	border-radius: 1.388888888888889vw;
	font-family: 'Noto Sans KR', sans-serif;
}
.dove .cont01 .event .agree_cont p.fs14{
	font-size: 2.361111111111111vw;
	margin-bottom: 1.111111111111111vw;
}
.dove .cont01 .event .agree_cont p.dot{
	padding-left: 1.944444444444444vw;
	position: relative;
}
.dove .cont01 .event .agree_cont p.dot:before{
	content:'※';
	position: absolute;
	top: 0;
	left: 0;
}
.dove .cont01 .event .agree_cont strong{
	margin-bottom: 0.5555555555555556vw;
	display: inline-block;
}
.dove .cont01 .event .agree_cont table{
	border-top: 1px solid #7d7d7d;
	margin: 0.8333333333333333vw 0;
}
.dove .cont01 .event .agree_cont table th{border-right: 1px solid #7d7d7d;}
.dove .cont01 .event .agree_cont table th,
.dove .cont01 .event .agree_cont table td{
	border-bottom: 1px solid #7d7d7d;
	padding: 0.6944444444444444vw 1.111111111111111vw;
	font-weight: 400;
}
.dove .cont01 .event .agree_wrap label{
	font-size: 2.638888888888889vw;
	font-weight: 700;
	color: #000f59;
	letter-spacing: -0.105em;
	vertical-align: middle;
	padding-left: 0.2777777777777778vw;
}
.dove .cont01 .event .agree_wrap input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
	outline:0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    width: 4.444444444444444vw;
    height: 4.444444444444444vw;
	margin-top: -0.9722222222222222vw;
    padding: 0;
	background-repeat: no-repeat;
	background-size: contain;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	vertical-align: text-top;
	background-image: url('../images/dove_event_check.png');
}
.dove .cont01 .event .agree_wrap input[type="checkbox"]:checked{background-image: url('../images/dove_event_check_on.png');}
.dove .cont01 .event .btn_wrap a{
	display: inline-block;
	width: 48.66%;
}
.dove .cont01 .event .btn_wrap a.share{float: left;}
.dove .cont01 .event .btn_wrap a.submit{float: right;}
.dove .cont01 .event .step03 .pop_inner{
	background: #fff;
	-webkit-border-radius: 4.166666666666667vw;
	-moz-border-radius: 4.166666666666667vw;
	border-radius: 4.166666666666667vw;
	padding: 0 5.277777777777778vw 6.388888888888889vw;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dove .cont01 .event .step03 .btn_close{
	width: 7.638888888888889vw;
	height: 7.638888888888889vw;
	top: 5.555555555555556vw;
	right: 5.555555555555556vw;
	bottom: auto;
	left: auto;
}
.dove .cont01 .event .step03 .pop_btn_wrap{margin-top: 3.888888888888889vw;}
.dove .cont01 .event .step03 .pop_btn_wrap a{
	display: block;
	width: 47.89719626168224%;
}
.dove .cont01 .event .step03 .pop_btn_wrap .share_btn{float: left;}
.dove .cont01 .event .step03 .pop_btn_wrap .close_btn{float: right;}
.dove .cont01 .event .step03 .box_wrap{
	border: 1px solid #dadada;
	-webkit-border-radius: 1.388888888888889vw;
	-moz-border-radius: 1.388888888888889vw;
	border-radius: 1.388888888888889vw;
	padding-bottom: 3.472222222222222vw;
	overflow: hidden;
	letter-spacing: -0.075em;
	margin: 0 auto;
}
.dove .cont01 .event .step03 .box_wrap .tit{
	font-size: 3.472222222222222vw;
	font-weight: 600;
	color: #000f59;
	width: auto;
	padding: 2.222222222222222vw 2.5vw 1.388888888888889vw;
}
.dove .cont01 .event .step03 .box_wrap .cont{
	font-size: 3.055555555555556vw;
	color: #666;
	line-height: 1.255em;
	padding: 0 2.5vw;
	overflow-y: auto;
	max-height: 22.22222222222222vw;
}
.dove .cont03 .btn{
	width: 58.33333333333333%;
	left: 20.83333333333333%;
	bottom: 8.648645%;
	height: 9.1%;
}
.dove .cont04 .btn{
	width: 23.61111111111111%;
	height: 2.580645161290323%;
	left: 14.58333333333333%;
	top: 33.48387096774194%;
}
.dove .cont04 .btn02,
.dove .cont04 .btn04{left: 61.80555555555556%;}
.dove .cont04 .btn03,
.dove .cont04 .btn04{top: 62.51612903225806%;}
.dove .cont04 .btn05{top: 91.61290322580645%;}

.check_pop{
	display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: auto;
    z-index: 100;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.check_pop .inner {
    z-index: 2;
    position: absolute;
    top: 50%;
	transform: translate(-50%, -50%);
    left: 50%;
    width: 93.75%;
    margin: auto;
}
.check_pop .inner img{width: 100%;}
.check_pop .close_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.check_pop .pop_bg{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.8);
	z-index: 1;
}
.check_pop .check_close_btn{
	position: absolute;
	display: block;	
	width: 9.166666666666667%;
	height: 7.638888888888889%;
	right: 0;
	top: 0;
}
.check_pop .submit_btn{
	width: 14.5%;
	position: absolute;
	height: 5.833333333333333%;
	right: 20.66666666666667%;
	top: 56.66666666666667%;
	font-size: 0;
	text-indent: -9999px;
	display: block;
}
.check_pop .hp_input{
	font-size: 3.4375vw;
	font-weight: 600;
	letter-spacing: -0.01em;
	width: 13.33333333333333%;
	height: 5.138888888888889%;
	position: absolute;
	top: 56.94444444444444%;
	text-align: center;
	padding: 0;
	margin: 0;
	outline:0;
    background: transparent;
}
.check_pop .hp_input.hp1{left: 20.5%;}
.check_pop .hp_input.hp2{left: 35%;}
.check_pop .hp_input.hp3{left: 49.5%;}
.check_pop .hp_input::placeholder{color: rgba(0,0,0,.25);}

.hid{display: none;}

/* 2차 */
.dove.second .cont01{background-image: url('../images/m_dove_second_cont01_bg.jpg');	}
.dove.second .cont01 .event{padding-bottom: 4.027777777777778vw;}
.dove.second .cont03 .btn{bottom: 10.208645%;}