@CHARSET "UTF-8";

body.is-open{position: fixed; top: 0;	left:0;	width:100%;	overflow: hidden;}
.hidden{position: absolute; left: -10000px;	top: auto;	width: 0;	height: 0;	overflow: hidden;}
.hide_txt{text-indent: -9999px; font-size: 0;}
.clearfix:after{display:block; clear:both; content:'';}
.m_block, .mt_block, .except_tb_block{display:block;}
.txt_center{text-align:center;}
.txt_left{text-align:left;}
.txt_right{text-align:right;}
.rel{position:relative;}
.ib{display:inline-block;}
.db{display: block;}
.tc{display:table-cell; vertical-align:middle;}
.f_left{float:left;}
.f_right{float:right;}
.wbka{word-break:keep-all;}
.w100p{width: 100%;}
.font_sc{font-family: 'S-CoreDream-3Light';}
.m_img{width: 100%;}
.pc_img{display: none; width: 100%;}
.white{color: #fff;}
.yellow{color: #ffdf3a;}

.fw200{font-weight:200;}
.fw300{font-weight:300;}
.fw400{font-weight:400;}
.fw500{font-weight:500;}
.fw600{font-weight:600;}
.fw700{font-weight:700;}

/* inner */
.footer_inner{
	margin-left:4.6875vw;
	margin-right:4.6875vw;
}

.main .section02{background: url("../images/m_section02.jpg") no-repeat center center;-webkit-background-size: contain;background-size:contain ;}
.main .section03{background: url("../images/m_section03.jpg") no-repeat right center;-webkit-background-size: contain;background-size:contain ;}
.main .section04{background: url("../images/m_section04.jpg") no-repeat left center;-webkit-background-size: contain;background-size:contain ;}

/* animation */
.main .section01 .img02,
.main .section01 .img03{
	position: absolute;
	bottom: 0;left: 0;
	transform: matrix(1, 0, 0, 1, 0, 30);
	opacity:0;
}
.main .section02 .m_img,
.main .section03 .m_img,
.main .section04 .m_img,
.main .section02 .pc_img,
.main .section03 .pc_img,
.main .section04 .pc_img{
	transform: matrix(1, 0, 0, 1, 0, 30);
	opacity:0;
}
.main .section04 .m_img.img04{opacity: 1;}

.main  .section02_three img{
	position: absolute;
	bottom: 0;
	width: 30.83333333333333%;
}
.main  .section02_three .img04{left: 0;}
.main  .section02_three .img05{
	left: 30.83333333333333%;
	width: 38.33333333333333%;
}
.main  .section02_three .img06{right: 0;}

/* section03 */
.main .section03_btn .btn{}
.main .section03_btn .btn{
	position: absolute;
	top: 67.51626898047722%;
	width: 40.78125%;
	height: 4.013015184381779%; 
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;	
}
.main .section03_btn .btn01{
	left: 7.5%;
	background-image: url("../images/m_section03_btn01.png");
}
.main .section03_btn .btn02{
	left: 51.71875%;
	background-image: url("../images/m_section03_btn02.png");
}

/* section04 */
.main .section04 .hash {
    display: block;
    width: 85%;
    height: 4.164470216130733%;
    position: absolute;
    top: 60.56931997891407%;
    left: 7.5%;
}
.main .section04 .hash a {
    display: block;
    width: 100%;
    height: 100%;
}

/* footer */
.footer{
	padding: 5.9375vw 0 7.8125vw;
	font-size: 3.0328125vw; 
	line-height: 1.625em;
	color: #777;
}
.footer address{font-style: normal;}
.footer .f_logo{margin-bottom: 2.5vw;}
.footer .f_logo img{width: 33.79310344827586%;}


/* popup */	 
.popup_wrap {
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
	display:none;
}
.popup_wrap .close_btn {
	position:absolute;
	top:3.90625vw;right:3.90625vw;
	cursor:pointer;
	width: 4.6875vw;
    height: 4.6875vw;
}
.popup_wrap .close_btn:before,
.popup_wrap .close_btn:after{
	display: block;
	position: absolute;
	top: 2.34375vw;
	left: -0.78125vw;
	width: 6.09375vw;
	height: 0.3125vw;
	background: #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	content: '';
}
.popup_wrap .close_btn:after{
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.popup_wrap .popup{
	background:#0ba0de;
	position:fixed;
	z-index:101;
	top:0;
	left:0;
	bottom: 0;
	overflow: auto;
	width:100%;
	padding: 11.25vw 4.6875vw 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling:touch;
}
.popup_wrap .popup .step_btn{
	width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-image: url("../images/tab01_bg.png");
}
.popup_wrap .popup .step_btn li a{
	height: 12.5vw;
	line-height: 12.5vw;
	font-size: 3.75vw;
	color: rgba(17,17,17,.6);
	display: block;
	padding-left: 1.7vw;
}
.popup_wrap .popup .step_btn li:nth-child(1) a{padding-left: 4vw;}
.popup_wrap .popup .step_btn li:nth-child(1){width: 40.5%;}
.popup_wrap .popup .step_btn li:nth-child(2){width: 36.5%;}
.popup_wrap .popup .step_btn li:nth-child(3){width: 23%;}
.popup_wrap .popup .step_btn li.active a{color: #111;}
.popup_wrap .popup_inner > div{position:relative; width:100%;}
.popup_wrap .tab_cont_inner{background: #fff;}
.popup_wrap .end_btn{
	background: #ffdc2c;
	color: #0f5fca;
	font-size: 5vw;
	width: 48.38709677419355%;
	height: 10.9375vw;
	line-height: 10.9375vw;
	-webkit-border-radius: 0.78125vw;
	-moz-border-radius: 0.78125vw;
	border-radius: 0.78125vw;
	margin: 0 auto 10.78125vw;
	display: block;
}

/* tab01 */
.popup_wrap .tab01 h3{
	margin: 6.40625vw auto 5.15625vw;
	width: 78.38709677419355%;
	font-size: 5.9375vw;
	line-height: 1.211em;
	letter-spacing: -0.05em;
	padding-left: 17.25806451612903%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup_wrap .tab01 h3 img{
	position: absolute;
	top: 0; left: 0;
	height: 100%;
}
.popup_wrap .tab01 .tab_cont_inner{
	padding: 8.28125vw 4.6875vw 14.21875vw;
	font-size: 4.0625vw;
	color: #111;
	line-height: 1.538em;
}
.popup_wrap .tab01 .tab_cont_inner select{
	border: 0;
	border-bottom: 0.78125vw solid #1f7edf;
    color: #1f7edf;
    font-size: 4.0625vw;
    font-weight: 600;
    padding: 0 10.15625vw 0 6.5625vw;
	background: url("../images/select_list.png") no-repeat right 1.5625vw center;
	-webkit-background-size: 2.5vw auto;
	background-size: 2.5vw auto;
}
.popup_wrap .tab01 .mt23{
	display: block;
	margin-top: 3.59375vw;
}
.popup_wrap .tab01 .except_tb_mt23{
	display: block;
	margin-top: 3.59375vw;
}
.popup_wrap .tab01 p{
	font-size: 5.9375vw;
	letter-spacing: -0.05em;
	margin: 7.03125vw 0 6.5625vw;
}

 /* tab02 */
.popup_wrap .tab02 h3{
	font-size: 7.8125vw;
	margin-top: 6.71875vw;
	letter-spacing: -0.05em;
} 
.popup_wrap .tab02 h3 strong{color: #ffde37;}
.popup_wrap .tab02 .sub_tit{
	font-size: 3.75vw;
	margin: 3.4375vw 0 4.84375vw;
}
.popup_wrap .tab02 .tab_cont_inner{
	color: #111;
	letter-spacing: -0.05em;
	font-size: 3.75vw;
	padding: 6.40625vw 4.6875vw 7.03125vw;
}
.popup_wrap .tab02 .tab_cont_inner > ul > li{margin-bottom: 2.1875vw;}
.popup_wrap .tab02 .tab_cont_inner label{
	width: 29%;
	display: inline-block;
}
.popup_wrap .tab02 .tab_cont_inner i{
	color: #ee4f5a; 
	font-size: 3.4375vw;
	font-style: normal;
	vertical-align: middle;		
}
.popup_wrap .tab02 .tab_cont_inner > ul > li > p,
.popup_wrap .tab02 .tab_cont_inner input{
    height: 8.75vw;
    width: 70%;
    border: 0.46875vw solid #0ba0de;
    font-size: 3.75vw;
    vertical-align: middle;
	color: #111;
	padding-left: 3.75vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup_wrap .tab02 .tab_cont_inner > ul > li > p{
	background: #ddd;
	display: inline-block;
	line-height: 8.4375vw;
    border: 0;
}
.popup_wrap .tab02 .input_check{
	width: 4.6875vw;
	height: 4.6875vw;
	background: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}
.popup_wrap .tab02 .search_btn{
	position: absolute;
	top: 0; right: 0;
	width: 15.625vw;
	height: 8.75vw;
	line-height: 8.75vw;
	background: #0ba0de;
	color: #fff;
}
.popup_wrap .tab02 .search_result{
	background: #ddd;
	height: 53vw;
	padding: 2.34375vw 4.6875vw;
	width: 100%;
	
	font-size: 2.8125vw;
	overflow-y: auto;
	line-height: 1.333em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 4.0625vw;
}
.popup_wrap .tab02 .search_result a{
	color: #333;
	display: block;
}
.popup_wrap .tab02 .search_result .select a{color: #0f5fca;}
.popup_wrap .tab02 .search_result li{padding: 1.71875vw 0;}
.popup_wrap .tab02 .search_result strong{
	font-size: 3.125vw;
	padding-bottom: 0.78125vw;
}
.popup_wrap .tab02 .sms_label{
	font-size: 3.4375vw;
	letter-spacing: -0.05em;
	margin: 5.78125vw 0 6.71875vw 1.5vw;
}
.popup_wrap .tab02 .sms_label input{vertical-align: middle;}
.popup_wrap .tab02 .sms_label label{vertical-align: middle;}


/* tab03 */
.popup_wrap .tab03{}  
.popup_wrap .tab03 h3{
	font-size: 7.8125vw;
	margin: 6.71875vw 0 7.8125vw;
	letter-spacing: -0.05em;
} 
.popup_wrap .tab03 h3 strong{color: #ffde37;}
.popup_wrap .tab03 .tab_cont_inner{
	font-size: 4.0625vw;
	line-height: 1.385em;
	letter-spacing: -0.05em;
	padding: 8.59375vw 0 7.96875vw;
	margin-bottom: 5vw;
}
.popup_wrap .tab03 .tab_refer{
	font-size: 3.4375vw;
	line-height: 1.727em;
	letter-spacing: -0.05em;
	margin-bottom: 8.28125vw;
}

@media screen and (min-width: 768px){
	.m_block{display:none;}
	.t_block,
	.ts_block,
	.tspc_block{display:block;}
	.tpc_f_left{float:left;}
	.tpc_f_right{float:right;}

	/* inner */
	.footer_inner{
		margin-left:30px;
		margin-right:30px;
	}

	/* footer */
	.footer{
		padding: 38px 0 50px;
		font-size: 19.41px; 
	}
	.footer .f_logo{margin-bottom: 16px;}

	
	/* popup */	 
	.popup_wrap .close_btn {
		top:25px;right:25px;
		width: 30px;
		height: 30px;
	}
	.popup_wrap .close_btn:before,
	.popup_wrap .close_btn:after{
		top: 15px;
		left: -5px;
		width: 39px;
		height: 2px;
	}
	.popup_wrap .close_btn:after{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	.popup_wrap .popup{
		padding: 61px 30px 0;
	}
	.popup_wrap .popup .step_btn li a{
		height: 80px;
		line-height: 80px;
		font-size: 24px;
		padding-left: 20px;
	}
	.popup_wrap .popup .step_btn li:nth-child(1) a{padding-left: 34px;}
	.popup_wrap .end_btn{
		font-size: 32px;
		height: 59px;
		line-height: 59px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-bottom: 58px;
	}

	/* tab01 */
	.popup_wrap .tab01 h3{
		margin: 34px auto 28px;
		font-size: 38px;
	}
	.popup_wrap .tab01 h3 img{
		position: absolute;
		top: 0; left: 0;
	}
	.popup_wrap .tab01 .tab_cont_inner{
		padding: 45px 32px 77px 53px;
		font-size: 26px;
	}
	.popup_wrap .tab01 .tab_cont_inner select{
		border-bottom: 5px solid #1f7edf;
		font-size: 26px;
		padding: 0 55px 0 35px;
		background: url("../images/select_list.png") no-repeat right 8px center;
		-webkit-background-size: 16px auto;
		background-size: 16px auto;
	}
	.popup_wrap .tab01 .mt23{
		margin-top: 19px;
	}
	.popup_wrap .tab01 p{
		font-size: 38px;
		margin: 38px 0 35px;
	}

	 /* tab02 */
	.popup_wrap .tab02 h3{
		font-size: 50px;
		margin-top: 36px;
	} 
	.popup_wrap .tab02 .sub_tit{
		font-size: 24px;
		margin: 18px 0 26px;
	}
	.popup_wrap .tab02 .tab_cont_inner{
		font-size: 24px;
		padding: 34px 57px 38px;
	}
	.popup_wrap .tab02 .tab_cont_inner > ul > li{margin-bottom: 11px;}
	.popup_wrap .tab02 .tab_cont_inner i{font-size: 22px;}
	.popup_wrap .tab02 .tab_cont_inner > ul > li > p,
	.popup_wrap .tab02 .tab_cont_inner input{
		height: 47px;
		border: 3px solid #0ba0de;
		font-size: 24px;
		padding-left: 20px;
	}
	.popup_wrap .tab02 .tab_cont_inner > ul > li > p{
		line-height: 46px;
		border: 0;
	}
	.popup_wrap .tab02 .input_check {
		width: 25px;
		height: 25px;
	}
	.popup_wrap .tab02 .search_btn{
		width: 100px;
		height: 47px;
		line-height: 47px;
	}
	.popup_wrap .tab02 .search_result{
		height: 264px;
		padding: 12px 25px;
		font-size: 18px;
		margin-top: 22px;
	}
	.popup_wrap .tab02 .search_result li{padding: 9px 0;}
	.popup_wrap .tab02 .search_result strong{
		font-size: 20px;
		padding-bottom: 4px;
	}
	.popup_wrap .tab02 .sms_label{
		font-size: 22px;
		margin: 31px 0 36px 17px;
	}


	/* tab03 */
	.popup_wrap .tab03 h3{
		font-size: 50px;
		margin: 36px 0 39px;
	} 
	.popup_wrap .tab03 .tab_cont_inner{
		font-size: 26px;
		padding: 46px 0 43px;
		margin-bottom: 27px;
	}
	.popup_wrap .tab03 .tab_refer{
		font-size: 22px;
		margin-bottom: 45px;
	}

}

@media screen and (min-width: 1024px){
	.mt_block, .ts_block, .except_tb_block{display:none;}
	.tb_block, .tpc_block{display:block;}
	.m_img{display: none;}
	.pc_img{display: block;}

	/* inner */
	.inner,
	.s3_inner,
	.s4_inner{
		margin-left:30px;
		margin-right:30px;
	}
	.main .section02{background: url("../images/section02_bg.jpg") no-repeat center center;}
	.main .section03{background: url("../images/section03_bg.jpg") no-repeat right center;}
	.main .section04{background: url("../images/section04_bg.jpg") no-repeat left center;}
	
	/* animation */
	.main .section02 .m_img,
	.main .section03 .m_img,
	.main .section04 .m_img{transform:inherit !important; opacity:1 !important;}
	.main .section02 .pc_img,
	.main .section03 .pc_img,
	.main .section04 .pc_img{
		transform: matrix(1, 0, 0, 1, 0, 30);
		opacity:0;
	}
	.main  .section02_three img{
		position: absolute;
		bottom: 0;
		width: 30.83333333333333%;
	}
	.main  .section02_three .img04{left: 0;}
	.main  .section02_three .img05{
		left: 30.83333333333333%;
		width: 38.33333333333333%;
	}
	.main  .section02_three .img06{right: 0;}

	/* footer */
	.footer{
		padding: 35px 0 31px;
		font-size: 16px; 
	}
	.footer .f_logo{margin-bottom: 20px;}
	.footer .f_logo img{width: 18.25%;}

	/* section03 */
	.main .section03_btn .btn{
		position: absolute;
		top: 66.59494351802044%;
		width: 34.38003220611916%;
		height: 4.54065469904963%;
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;	
	}
	.main .section03_btn .btn01{
		left: 14.2512077294686%;
		background-image: url("../images/section03_btn01.png");
	}
	.main .section03_btn .btn02{
		left: 51.44927536231884%;
		background-image: url("../images/section03_btn02.png");
	}

	/* section04 */
	.main .section04 .hash {
		display: block;
		width: 44.13741598207618%;
		height: 5.342237061769616%;
		position: absolute;
		top: 52.97718419588203%;
		left: 46.07916355489171%;
	}
	.main .section04 .hash a {
		display: block;
		width: 100%;
		height: 100%;
	}

	/* popup */
	.popup_wrap .popup{
		padding: 72px 65px 0;
	}
	/* tab01 */
	.popup_wrap .tab01 h3{
		width: 53%;
		padding-left: 12%;
	}
	.popup_wrap .tab01 .except_tb_mt23{display: inline-block;}

}

@media screen and (min-width: 1280px){
	.t_block, .tb_block{display:none;}
	.pc_block, .except_tb_block{display:block;}
	a.tel{cursor:text;}

	/* inner */
	.footer_inner,
	.inner{
		width:1200px;
		margin-left:auto;
		margin-right:auto;
	}
	.s3_inner{
		width:1242px;
		margin-left:auto;
		margin-right:auto;
	}
	.s4_inner{
		width:1339px;
		margin-left:auto;
		margin-right:auto;
	}

	/* footer */
	.footer{padding: 42px 0 37px;}
	.footer .f_logo{margin-bottom: 24px;}
	
	/* popup */	 
	.popup_wrap .bg{	
		position:fixed;	
		z-index:100;	
		left:0;	top:0;	
		width:100%;	
		height:100%;
		background: rgba(0,0,0,.5);
	}
	.popup_wrap .popup{
		background: transparent;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin-left: 0;
		padding: 0;
	}
	.popup_wrap .popup .popup_inner{
		position: relative;	
		padding: 72px 65px 69px;
		background: #0ba0de;
		top: 130px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto 230px;
		width: 750px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
		z-index: 200;
	}
	.popup_wrap .popup .step_btn li:nth-child(1) a{padding-left: 40px;}
	.popup_wrap .end_btn{
		height: 70px;
		line-height: 70px;
		margin: 0 auto 0;
		cursor: pointer;
	}

	/* tab01 */
	.popup_wrap .tab01 h3{
		width: 78.38709677419355%;
		padding-left: 17.25806451612903%;
		margin: 41px auto 33px;
		}
	.popup_wrap .tab01 .tab_cont_inner{padding: 53px 38px 91px 63px;}
	.popup_wrap .tab01 .tab_cont_inner select{
		padding: 0 65px 0 42px;
		background: url("../images/select_list.png") no-repeat right 10px center;
	}
	.popup_wrap .tab01 .mt23{
		margin-top: 23px;
	}
	.popup_wrap .tab01 .except_tb_mt23{display: block;}
	.popup_wrap .tab01 p{margin: 45px 0 42px;}

	/* tab02 */
	.popup_wrap .tab02 h3{margin-top: 43px;} 
	.popup_wrap .tab02 .sub_tit{margin: 22px 0 31px;}
	.popup_wrap .tab02 .tab_cont_inner{padding: 41px 67px 45px;}
	.popup_wrap .tab02 .tab_cont_inner > ul > li{margin-bottom: 14px;}
	.popup_wrap .tab02 .tab_cont_inner label{
		width: 29%;
		display: inline-block;
	}
	.popup_wrap .tab02 .tab_cont_inner i{
		color: #ee4f5a; 
		font-size: 22px;
		font-style: normal;
		vertical-align: middle;		
	}
	.popup_wrap .tab02 .tab_cont_inner > ul > li > p,
	.popup_wrap .tab02 .tab_cont_inner input{
		height: 56px;
		padding-left: 24px;
	}
	.popup_wrap .tab02 .tab_cont_inner > ul > li > p{line-height: 54px;}
	.popup_wrap .tab02 .search_btn{
		height: 56px;
		line-height: 56px;
	}
	.popup_wrap .tab02 .search_result{
		height: 310px;
		padding: 15px 30px;
		margin-top: 26px;
	}
	.popup_wrap .tab02 .search_result li{padding: 11px 0;}
	.popup_wrap .tab02 .search_result strong{padding-bottom: 5px;}
	.popup_wrap .tab02 .sms_label{margin: 37px 0 43px 21px;}
	.popup_wrap .tab02 .input_check{
		width: 30px;
		height: 30px;
	}


	/* tab03 */
	.popup_wrap .tab03 h3{margin: 43px 0 46px;} 
	.popup_wrap .tab03 .tab_cont_inner{
		padding: 55px 0 51px;
		margin-bottom: 32px;
	}
	.popup_wrap .tab03 .tab_refer{
		font-size: 21.2px;
		margin-bottom: 53px;
	}
}